







      <Wrapper @title="Conversions" @icon="📉">

        <Panel>
          <Character
            @type="computer-man"
            @say="According to the analytics, from the thousands of people on our website..."
          />
          <Character
            @type="computer-woman"
          />
        </Panel>

        <Panel>
          <Character
            @type="computer-man"
            @say="There are only 5 customers ..."
          />
          <Character
            @type="computer-woman"
            @say="So what?"
          />
        </Panel>

        <Panel>
          <Character
            @type="computer-man"
            @say="That's not too much."
          />
          <Character
            @type="computer-woman"
            @say='Even "enlarge your penis" campaigns have better conversion ratio.'
          />
        </Panel>

      </Wrapper>




