







      <Wrapper @title="Survival strategy" @icon="👥">

        <Panel>
          <Character
            @type="computer-woman"
            @say="So I figured out how to survive next redundancy layoffs."
          />
          <Character
            @type="computer-man"
            @say="How?"
          />
        </Panel>

        <Panel>
          <Character
            @type="computer-woman"
            @say="You just need to have two roles."
          />
          <Character
            @type="computer-man"
            @say="What does that mean?"
            @emotion="😯"
          />
        </Panel>

        <Panel>
          <Character
            @type="computer-woman"
            @bubbleSizing="double"
            @say="Well if they dismiss one of your roles as redundant, you still have the second one so that they can't fire you."
          />
          <Character
            @type="computer-man"
            @emotion="👌🏻"
          />
        </Panel>

      </Wrapper>




