
  <Wrapper @title="Predictable sales" @icon="💰">
    <Panel>
      <Character
        @type="computer-woman"
        @emotion="✉️"
        @say="... Defining objective is to deliver predictable sales execution ..."
      />
      <Character
        @type="computer-man"
      />
    </Panel>

    <Panel>
      <Character
        @type="computer-woman"
        @say="Predictable is the key word here."
      />
      <Character
        @type="computer-man"
      />
    </Panel>

    <Panel>
      <Character
        @type="computer-woman"
        @say="A set consisting only of zeroes is very predictable, right?"
      />
      <Character
        @type="computer-man"
        @emotion="🤨"
      />
    </Panel>
  </Wrapper>





