
  <Wrapper @icon="🗣" @title="After micro-management">
    <Panel>
      <Character
        @type="computer-woman"
        @say="The CEO stopped micromanaging us ..."
      />
      <Character
        @type="computer-man"
        @emotion="👍"
      />
    </Panel>

    <Panel>
      <Character
        @type="computer-woman"
        @say="That's all well and good ..."
      />
      <Character
        @type="computer-man"
      />
    </Panel>

    <Panel>
      <Character
        @type="computer-woman"
        @say="The catch is that now he's nanomanaging us instead..."
      />
      <Character
        @type="computer-man"
        @emotion="👎"
      />
    </Panel>
  </Wrapper>





