<LinkTo @route={{@route}} class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800" @activeClass="bg-indigo-50 border-indigo-500 text-indigo-700">
  {{yield}}
</LinkTo>